<div class="section list-categories-bloc">
    <div class="well well-lg">
        {% if categories is defined %}

            <h4>Категории :</h4>

            <ul class="cat-menu">


                {% for category in categories %}

                    {% set selectedCategory = '' %}
                    {% if category.id == categoryIdSelected %}
                        {% set selectedCategory = 'class=category-selected' %}
                    {% endif %}

                    <li>
                        <a {{ selectedCategory }} href="{{ path('homepage',{'get[category]': category.id}) }}" title="{{ category.name }}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
