<div class="well well-lg">
    <a href="https://www.facebook.com/bonjourfrancia/" type="button" role="button" title="Facebook"><i class="socials fa fa-facebook"></i></a>
    <a href="https://www.youtube.com/channel/UCTH7m7287DvLVbt4FmbUwyA?sub_confirmation=1" type="button" role="button" title="Youtube"><i class="socials fa fa-youtube"></i></a>
    <a href="https://vk.com/france_bonjour" type="button" role="button" title="VK"><i class="socials fa fa-vk"></i></a>
    <a href="https://twitter.com/dennedblog" type="button" role="button" title="Twitter"><i class="socials fa fa-twitter"></i></a>
</div>
