{% extends 'base.html.twig' %}

{% block body_id 'comment_form_error' %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?render=6LcAssQUAAAAAHXX7zkSCCPOmDD48wZn9UNoyvMg"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LcAssQUAAAAAHXX7zkSCCPOmDD48wZn9UNoyvMg', {action: 'validate_captcha'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
    </script>
{% endblock %}

{% block main %}
    <h1 class="text-danger">{{ 'title.comment_error'|trans }}</h1>

    <div class="well">
        {{ include('blog/_comment_form.html.twig') }}
    </div>
{% endblock %}
